<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <app-header></app-header>

<div class="container-fluid ps-0">

  <section class="row">
    <app-sidebar  class="col-2"></app-sidebar>
    <app-order-master class="col-10"></app-order-master>

    <!-- <app-home class="col-10"></app-home>  -->
     <!-- <app-product-list class="col-10"></app-product-list> -->
  </section>
  <app-footer></app-footer>
</div>
</body>
</html>

