<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <!-- <div class="col-12 mb-3">
      <label for="prdCat" class="form-label col-12">Category: </label>
      <select #cat  name="Cat" id="prdCat" (change)="getSelectedCat(cat.value )">
    
      <select name="Cat" id="prdCat" [(ngModel)]="selectedCatID" (change)=" filterProductsByCatID()">
        <option [value]="cat.id" *ngFor="let cat of catList">
          {{ cat.name }}
        </option>
      </select>
    </div> -->
    
    <!-- <div class="text-secondary">
      [for test] Category ID :
      {{ selectedCatID }}
      <button type="button" class="btn btn-primary" (click)="changeCat()">
        change category
      </button>

      <br />
      order's date :{{ orderDate | date : "longDate" }}
    </div> -->
    <hr />

    <table class="table">
      <thead class="bg-dark text-light">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price in USD</th>
          <th scope="col">Price in EGP</th>

          <th scope="col">Needed Quantity</th>
          <th scope="col">Buy</th>
        </tr>
      </thead>
      <tbody>
        <!--trackBy:proTrackByFn
       trackBy use to spicify iterable objects  identity
       and so enhance the ngfor perfomance in case of change to te collection and update the changed opject withouy rebuild the dom
        -->
        <!-- <tr *ngFor="let pro of prdList let i=index " 
        [class.d-none]="pro.categoryID!=selectedCatID"
        [style.backgroundColor]="(pro.quantity==0)? 'yellow':'lightgray' "> -->
        <!-- <ng-container *ngFor="let pro of prdList let i=index "></ng-container>
 -->

        <!-- ngif (structural directives in general) change in dom
             while class binding and [hidden] just change the dom element to be hidden-->
        <!-- <ng-container *ngFor="let pro of prdList; let i = index">
          <tr [ngClass]="{'bg-warning': pro.quantity == 0, 'text-light': pro.quantity == 0}"> -->
        <!-- *ngFor="let pro of prdList; let i = index" <tr  [style.backgroundColor]="(pro.quantity==0)? 'yellow':'lightgray' "> -->
        <tr
          *ngFor="let pro of prdListOfCatId; let i = index"
          [ngClass]="{ 'bg-warning text-darkred': pro.quantity == 0 ,'bg-gray text-darkblue':pro.quantity !== 0 }"
          [style.color]="(pro.quantity==0)? 'red':'darkblue' "

        >
          <td>{{ i + 1 }}</td>
          <!-- safe navegation operatior " ? " we use it to avoide errors when the property is probably to be null -->

          <td>{{ pro?.name }}</td>
          <td>
            <img LightBox="red" defaultColor="gray" src="{{ pro.imgURL }}" />
          </td>
          <td>
            <!-- <div *ngIf="pro.quantity!=0; else outOfStock ">{{pro.quantity}}</div> -->
            <!-- <ng-template #outOfStock>out of stock</ng-template> -->
            <ng-container [ngSwitch]="pro.quantity">
              <div *ngSwitchCase="0">out of stock</div>
              <div *ngSwitchCase="1">last item!</div>
              <div *ngSwitchCase="2">last 2 items</div>
              <div *ngSwitchDefault>
                {{ pro.quantity }}
              </div>
            </ng-container>
          </td>
          <!-- built-in pipes deal with value not html element it take the value and replace it with another value -->
          <td>{{ pro.price | currency : "USD" : "symbol" }}</td>
          <td>{{ pro.price | USDtoEGP : 12 | currency : "EGP" : "code" }}</td>

          <!-- template variable -->
          <td><input #itemsCount type="number" /></td>
          <td>
            <button
              type="button"
              class="btn btn-primary"
              (click)="buy(pro.price, itemsCount.value)"
            >
              Buy
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- <h3 class="text-danger">     to be removed [for test]<br>
      total price {{ totalPrice }}</h3> -->
  </body>
</html>
