.bg-warning {
    td {
        background-color: inherit;
      }
}
.bg-gray,td{
    background-color: rgb(190, 185, 185);
}
.text-darkred  {
    td{ 
        color:inherit
    }
}
.text-darkblue {
    
td{
    color:inherit
}   
}