<div class="mb-3">
    <label for="prdCat" class="form-label col-12">Category: </label>
    <!-- <select #cat  name="Cat" id="prdCat" (change)="getSelectedCat(cat.value )"> -->
    <!-- [(ngModel)] refere to the value of any input  
      i made tow-way-binding to this probirty "selectedCatID" 
      this meane any change of this proberty in the view will change the component and vice versa -->
    <select  name="Cat" id="prdCat" [(ngModel)]="selectedCatID" class="col-12">
      <option [value]="cat.id" *ngFor="let cat of catList">
        {{ cat.name }}
      </option>
    </select>
    <hr>
<div class="bg-purple ">
<app-product-list  [sentCatID]="selectedCatID"></app-product-list>
</div>  
<hr>

</div>
